

    <h1>Profile Cards</h1>
<hr>

<div class="card-container">
    <div class="card" *ngFor="let card of cards; let i = index">
        
        <div class="profile__desc"  *ngIf="editingIndex !== i">
          
        <div class="profile profile__img">
          <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="{{ card.name }}" class="image-responsive">
      </div>
      <div class="profile profile__name">{{ card.name }}</div>
      <div class="profile profile__email">{{ card.email }}</div>
      <div class="profile profile__phone">{{ card.phone }}</div>
      <div class="profile profile__age">{{ card.age }} years</div>
      <button class="edit-btn" (click)="editProfile(i)">Edit</button>
        </div>

      
   <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="editingIndex === i" class="edit-form">
    <div class="profile profile__img">
      <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="{{ card.name }}" class="image-responsive">
    </div>
  
    <div class="edit_details">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="card.name" placeholder="Enter Name" required>
    </div>
  
    <div class="edit_details">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="card.email" placeholder="Enter Email" required>
    </div>
  
    <div class="edit_details">
      <label for="phone">Phone</label>
      <input type="number" [(ngModel)]="card.phone" placeholder="Enter Phone" required>
    </div>
  
    <div class="edit_details">
      <label for="age">Age</label>
      <input type="number" [(ngModel)]="card.age" placeholder="Enter Age" required>
    </div>
  
    <button class="update-btn" (click)="updateProfile()">Update</button>
  </div>
  
  </div>

</div>